.service__body {
  margin: 0;
  padding: 0;
  padding-top: 75px / 14px * 1vw;
}

.service__main-img {
  position: relative;
  display: block;
  width: 1156px / 14px * 1vw;
  margin: 0 auto;
  margin-bottom: 60px / 14px * 1vw;
}

.service__img-wrap {
  display: block;
  margin: 0;
  padding: 0;
}

.service__img {
  display: block;
  width: 100%;
}

.service__main-title {
  position: absolute;
  @include centered('y');
  left: 203px / 14px * 1vw;
  font-family: Manrope;
  font-size: 48px / 14px * 1vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #ffffff;
}

.service__desc {
  width: 764px / 14px * 1vw;
  margin: 0 auto;
  margin-bottom: 115px / 14px * 1vw;
  font-family: Geometria;
  font-size: 16px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #000000;
}

.service__subtitle {
  margin-bottom: 180px / 14px * 1vw;
  font-family: Manrope;
  font-size: 34px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

.service__cases {
  position: relative;
  height: 408px / 14px * 1vw;
  padding-left: 50px / 14px * 1vw;
  padding-right: 50px / 14px * 1vw;
  background-color: #3c3c3c;
}

.service__case-list {
  width: 1300px / 14px * 1vw;
  position: absolute;
  top: -88px / 14px * 1vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service__case-item {
  width: 400px / 14px * 1vw;
  margin-bottom: 20px / 14px * 1vw;
}

.service__case-link {
  display: block;
  text-decoration: none;
}

.service__case-img-wrap {
  width: 100%;
  height: 288px / 14px * 1vw;
  margin-bottom: 20px / 14px * 1vw;
}

.service__case-img {
  width: 100%;
  height: 100%;
}

.service__case-title {
  font-family: Geometria;
  font-size: 20px / 14px * 1vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.service__case-desc {
  font-family: Geometria;
  font-size: 16px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
}

.service-edge {
  padding-top: 120px / 14px * 1vw;
  padding-bottom: 100px / 14px * 1vw;
  padding-left: 50px / 14px * 1vw;
  padding-right: 50px / 14px * 1vw;
  border: 3px / 14px * 1vw solid #f5f5f5;
}

.service-edge__title {
  margin-bottom: 100px / 14px * 1vw;
  font-family: Manrope;
  font-size: 32px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3c3c3c;
}

.service-edge__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.service-edge__item {
  margin-bottom: 20px / 14px * 1vw;
}

.service-edge__item-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px / 14px * 1vw;
  height: 50px / 14px * 1vw;
  margin-bottom: 16px / 14px * 1vw;
  border-radius: 4px / 14px * 1vw;
  background-color: #f5f5f5;
}

.service-edge__item-title {
  margin-bottom: 14px / 14px * 1vw;
  opacity: 0.7;
  font-family: Geometria;
  font-size: 15px / 14px * 1vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.87;
  letter-spacing: normal;
  color: #000000;
}

.service-edge__item-desc {
  width: 383px / 14px * 1vw;
  opacity: 0.7;
  font-family: Geometria;
  font-size: 15px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.87;
  letter-spacing: normal;
  color: #000000;
}

.service__reviews {
  padding-top: 120px / 14px * 1vw;
  padding-bottom: 20px / 14px * 1vw;
  padding-left: 50px / 14px * 1vw;
  padding-right: 50px / 14px * 1vw;
  background-color: #ffffff;
}

.service__articles {
  padding-top: 146px / 14px * 1vw;
  padding-left: 50px / 14px * 1vw;
  padding-right: 50px / 14px * 1vw;
  padding-bottom: 176px / 14px * 1vw;
  background-color: #f5f5f5;
}

.service__articles-title {
  margin-left: 15px / 14px * 1vw;
  margin-bottom: 60px / 14px * 1vw; 
  font-family: Manrope;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3c3c3c;
}