.our-clients {
    padding-top: 120px  / 14px * 1vw;
    padding-bottom: 170px  / 14px * 1vw;
    background-color: #3c3c3c;
}

.our-clients__title {
    position: relative;
    margin-bottom: 70px / 14px * 1vw;
    font-family: Manrope;
    font-size: 32px / 14px * 1vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.our-clients__slider-pos {
    display: flex;
    justify-content: center;
}

.our-clients__slider {
    position: relative;
    width: 606px / 14px * 1vw;
    height: 173px / 14px * 1vw;
    padding: 0;
    margin: 0 auto;
}

.our-clients__custom-slide {
    width: (606px / 14px * 1vw)!important;
    display: flex!important;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-clients__item {
    display: inline-block;
    min-width: 137px / 14px * 1vw;
    text-align: center;
    margin: 0;
    margin-bottom: 20px / 14px * 1vw;
    padding: 0;
   
    cursor: pointer;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}  

.our-clients__item-img-wrap {
    max-width: 134px / 14px * 1vw;
    height: 77px / 14px * 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients__item-img {
    display: block;
    width: 100%;
}

.next-arrow, .prev-arrow {
    position: absolute;
    top: 240px / 14px * 1vw;
    width: 44px / 14px * 1vw;
    height: 8px / 14px * 1vw;
    cursor: pointer;
}

.next-arrow {
    right: 237px / 14px * 1vw;
}

.next-arrow__svg {
    width: 100%;
    height: auto;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}

.prev-arrow {
    left: 237px / 14px * 1vw;
}

.prev-arrow__svg {
    width: 100%;
    height: auto;
    opacity: 0.4;
    transform: rotate(-180deg);
    &:hover {
        opacity: 1;
    }
}



.tooltip-overlay {
    display: inline-block!important
}

.tippy-tooltip {
    padding: 0!important;
}

.tooltip {
    width: 163px / 14px * 1vw;
    padding: 20px / 14px * 1vw 20px / 14px * 1vw;
    border-radius: 2px / 14px * 1vw;
    background-color: #8a8a8a;
  }
  
  .tooltip:after {
    content: '';
    border: 5px / 14px * 1vw solid transparent;
    border-top: 10px / 14px * 1vw solid #8a8a8a;
    position: absolute;
    left: 50%;
    margin-left: -10px / 14px * 1vw;
    bottom: -15px / 14px * 1vw;
    width: 0;
  }
  
  .tooltip__content {
    text-align: left;
    font-family: Geometria;
    font-size: 11px / 14px * 1vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #ffffff;
  }
  