.social-row {
  display: flex;
  margin: 0;
  padding-top: 185px / 14px * 1vw;
  padding-bottom: 185px / 14px * 1vw;
  padding-left: 220px / 14px * 1vw;
  background-color: #424242;
}

.social-row__top {
  margin-right: 100px / 14px * 1vw;
}

.social-row__title {
  font-family: Manrope;
  font-size: 32px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.78;
  letter-spacing: normal;
  color: #ffffff;
}

.social-row__desc {
  width: 333px / 14px * 1vw;
  margin-bottom: 75px / 14px * 1vw;
  font-family: Geometria;
  font-size: 16px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #c6c6c6;
}

.social-row__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-row__item {
  margin-bottom: 40px / 14px * 1vw;
  font-family: Geometria;
  font-size: 16px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.social-row__link {
  display: block;
  padding-top: 9px / 14px * 1vw;
  padding-left: 55px / 14px * 1vw;
  padding-bottom: 9px / 14px * 1vw;
  font-family: Geometria;
  font-size: 16px / 14px * 1vw;;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 38px / 14px * 1vw;
}

.social-row__link--vk {
  background-image: url('/images/icons/socials/vk.svg');
}

.social-row__link--fb {
  background-image: url('/images/icons/socials/fb.svg');
}

.social-row__link--mail {
  background-image: url('/images/icons/socials/mail.svg');
}

.social-row__svg-pos {
  width: 579px / 14px * 1vw;
}

.social-row__svg {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}