.breadcrumbs {
  display: flex;
  margin-left: 258px / 14px * 1vw;
  margin-bottom: 75px / 14px * 1vw;
}

.breadcrumbs__item {
  margin-left: 20px;
  list-style: none;
  &:first-child {
    margin-left: 0;
  }
}

.breadcrumbs__link {
  padding-left: 13px / 14px * 1vw;
  padding-right: 13px / 14px * 1vw;
  font-family: Geometria;
  font-size: 14px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #3c3c3c;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 11px;
}

.breadcrumbs__link--active {
  color: #ffffff;
  background-color: #3c3c3c;
}