.services-row {
  position: relative;
  padding-top: 110px / 14px * 1vw;
  padding-bottom: 320px / 14px * 1vw;
  overflow: hidden;
}

.services-row__subtitle {
  margin-bottom: 30px / 14px * 1vw;
  margin-left: 258px / 14px * 1vw;
  opacity: 0.7;
  font-family: Geometria;
  font-size: 16px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000000;
}

.services-row__title {
  margin: 0;
  margin-left: 252px / 14px * 1vw;
  margin-bottom: 75px / 14px * 1vw;
  font-family: Manrope;
  font-size: 83px / 14px * 1vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #000000;
}

.services-row__text {
  width: 549px / 14px * 1vw;
  margin-left: 440px / 14px * 1vw;
  opacity: 0.7;
  font-family: Geometria;
  font-size: 18px / 14px * 1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #000000;
}

.services-row__svg {
  display: block;
  position: absolute;
  bottom: -104px / 14px * 1vw;
  width: 100vw;
  height: auto;
}